* {
    padding: 0;
    margin: 0;
}

body {
    background: white;
    color: rgb(75, 75, 75);
    font: 1em/1.5 sans-serif;
}

a, a:visited, a:hover {
    color: rgb(120, 120, 250);
}

.blueberry .slides {
    max-width: 776px !important;
    margin: 0 auto;
}

.code {
    background: rgb(75, 75, 75);
    border-radius: 5px;
    padding: 20px;
    color: white;
    width: 620px;
    margin: 30px auto 0;
    font: 1.3em Menlo, monospace;
}
